<div class="container">    
    <mat-form-field appearance="outline" class="full-width" col-50>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="preencha o nome do usuario" [(ngModel)]="model.primeiroNome" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="preencha o sobrenome do usuario" [(ngModel)]="model.sobrenome" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Idade</mat-label>
        <input matInput placeholder="preencha a idade do usuario" [(ngModel)]="model.idade" required>
      </mat-form-field>  

      <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Registro</mat-label>
        <input matInput placeholder="numero de registro" [(ngModel)]="model.registro" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Endereco</mat-label>
        <input matInput placeholder="preencha o endereco do usuario" [(ngModel)]="model.endereco" required>
      </mat-form-field>

    <div class="toolbar___form">
      <button mat-raised-button routerLink="/usuarios">Cancelar</button>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
  </div>
